asgiref==3.6.0
Django==4.1.5
django-environ==0.9.0
django-phonenumber-field==7.0.2
phonenumberslite==8.13.4
Pillow==9.4.0
psycopg2==2.9.5
sqlparse==0.4.3
-e git+https://github.com/Pavel2232/TODOLIST_APP.git@f96358643b2b96096591f32c65ba7e6316358bb3#egg=todolist_app
tzdata==2022.7
